embed_dim: 289
action_dim: 2
in_c: 2
out_c: 8
epochs: 20
batch_size: 64
learning_rate: 0.0001
model_type: 'ActionRegularizationJEPA2DFlexibleEncoder'
data_path: '/scratch/DL24FA/train'
optimizer_type: 'adam'
scheduler_type: 'onecycle'
teacher_forcing: true
return_enc: true
pred_flattened: false

# action regularization
action_reg_hidden_dim: 32
lambda_reg: 0

vicreg_loss:
  lambda_invariance: 25
  mu_variance: 15
  nu_covariance: 1

# encoder_backbone: resnet18.a1_in1k
encoder_backbone: seresnext26ts.ch_in1k